asteval==0.9.1
colorama==0.4.4
coverage==3.7.1
DBUtils==1.1
execnet==1.9.0
mock==1.0.1
numpy==1.12.1
nupic==1.0.5
nupic.bindings==1.0.6
ordereddict==1.1
pandas==0.24.2
prettytable==0.7.2
psutil==1.0.1
py==1.10.0
PyMySQL==0.6.2
pyproj==1.9.3
pytest==3.0.7
pytest-cov==2.5.0
pytest-xdist==1.16.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==3.10
six==1.16.0
unittest2==0.5.1
validictory==0.9.1
